<article class="blog">
  <div class="title">
    <a href="/blog/{{id}}">{{title}}</a>
    <p>{{ blog_text}}</p>
  </div>
  <div class="meta">
    
    |
    <a href="/blog/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>