<article class="blog">
  <div class="title">
    <a href="{{blog_text}}" target="_blank">{{title}}</a>
    <span>({{ blog_text}})</span>
  </div>
  <div class="meta">
    
    |
    <a href="/blog/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>