<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Blog
  </h2>
  <form class="edit-blog-form">
      <label for="blog-title">Title:</label>
      <input name="blog-title" type="text" value="{{blog.title}}" />
    
      <label for="blog-text">Text</label>
      <textarea id="blog-text" name="blog-text"> {{blog.blog_text}}</textarea>
    
    <div>
      Created by you on {{format_date blog.created_at}}
      |
      <a href="/blog/{{blog.id}}">{{blog.comments.length}} {{format_plural "comment" blog.comments.length}}</a>
    </div>
    <button type="submit" class="btn">Update Blog</button>
    <button type="button" class="btn delete-blog-btn">Delete blog</button>
  </form>
</article>

{{> comments blog.comments}}

<script src="/javascript/edit-blog.js"></script>
<script src="/javascript/delete-blog.js"></script>
<script src="/javascript/comment.js"></script>